@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Mission4App.Models.GradeCalcModel;

<!-- Grade section-->
<section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4">Grade Calculator</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">Enter in your grades to see what you get! <br /> Enter the percentage scored for each category.</p>
            </div>
            <div class="col-sm-8 col-md-6">
                <!--Form for Grade Calculator-->
                <form method="post">
                    <h2>Grade Calculator</h2>

                    <!-- Print off the validation summary -->
                    <div asp-validation-summary="All"></div>
                    <!--labels and inputs for form-->
                    <label>Assignments</label>
                    <input id="assign" asp-for="Assign" type="number" max="100" /><span>%</span> <br />
                    <span asp-validation-for="Assign"></span>

                    <label>Group Project</label>
                    <input id="group" asp-for="Group" type="number" max="100" /><span>%</span> <br />
                    <span asp-validation-for="Group"></span>

                    <label>Quizzes</label>
                    <input id="quiz" asp-for="Quiz" type="number" max="100" /><span>%</span> <br />
                    <span asp-validation-for="Quiz"></span>

                    <label>Midterm Exam</label>
                    <input id="midterm" asp-for="Midterm" type="number" max="100" /><span>%</span> <br />
                    <span asp-validation-for="Midterm"></span>

                    <label>Final Exam</label>
                    <input id="final" asp-for="Final" type="number" max="100" /><span>%</span> <br />
                    <span asp-validation-for="Final"></span>

                    <label>INTEX</label>
                    <input id="intex" asp-for="Intex" type="number" max="100" /><span>%</span> <br /><br />
                    <span asp-validation-for="Intex"></span>

                    <label>Overall Grade: </label>
                    <span id="overallGrade"></span> <br /><br />

                    <input id="btnCalc" type="submit" class="btn-primary rounded-pill px-3 mb-2 mb-lg-0" value="Calculate">
                </form>

            </div>
        </div>
    </div>
</section>