@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jared dot org";
}

<!-- Main Head of Website-->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Name + Bio-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Jared Gastelum This is me:</h1>
                    <p class="lead fw-normal text-muted mb-5 text-center">
                        I'm a sophmore at BYU studying Information Systems. I love hiking, visiting new places, and spending time with my girlfriend Kate.
                        I'm currently reading the Harry Potter series for the first time (almost finished with the last book). I also love to run so if you're on Strava, add me!
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Picture of Me and Kate-->
                <img src="img/theNarrows.jpg" width="90%" height="90%" class="boarder rounded" />
            </div>
        </div>
    </div>
</header>
<!--What I'm excited about in IS-->
<aside class="text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4">
                    "Software development is my favorite part of IS. I'm really excited to learn React and how to make more dynamic websites.
                    It's my goal to become a software developer with the skills I learn in the IS core and this class is definitely going to help me on that path."
                </div>
                <img src="assets/img/circleMe.png" alt="..." style="height: 3rem" />
            </div>
        </div>
    </div>
</aside>
<!--Jobs I'm excited for after I graduate-->
<section id="features">
    <div class="container px-5">
        <h2 style="text-align:center;">List of top #3 jobs I'm most interested in pursuing when I graduate:</h2><br />
        <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
            <div class="container-fluid px-5">
                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-lg-6">
                        <!-- Software Developer-->
                        <div class="text-center">
                            <i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
                            <h3 class="font-alt">1. Software Developer</h3>
                            <p class="text-muted mb-0">Software developers use programming and design knowledge to build software that meets the needs of users.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Software Engineer-->
                        <div class="text-center">
                            <i class=" icon-feature text-gradient d-block mb-3"><img src="img/web-analysis.png" width="25%" /></i>

                            <h3 class="font-alt">2. Software Engineer</h3>
                            <p class="text-muted mb-0">Software engineers apply engineering principles and knowledge of programming languages to build software solutions for end users.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!-- Machine Learning Engineer-->
                        <div class="text-center">
                            <i class=" icon-feature text-gradient d-block mb-3"><img src="img/brain.png" width="25%" /></i>

                            <h3 class="font-alt">3. ML Engineer</h3>
                            <p class="text-muted mb-0">A machine learning engineer is a person in IT who focuses building and designing self-running AI systems.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

